<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.lygangdai.dao.CardDao">
    <select id="selectCardById" parameterType="Integer" resultType="club.lygangdai.pojo.Card">
    SELECT * FROM card WHERE c_id=#{cId}
    </select>
    <insert id="addCard" parameterType="club.lygangdai.pojo.Card" keyProperty="cId" useGeneratedKeys="true" keyColumn="c_id">
        insert into card(code) values(#{code})
        <selectKey keyProperty="cId" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <delete id="deleteCardById" parameterType="Integer" >
        DELETE FROM card WHERE c_id=#{cId}
    </delete>
    <update id="editCard" parameterType="club.lygangdai.pojo.Card">
        UPDATE card SET code=#{code} WHERE c_id=#{cId}
    </update>
</mapper>