<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.askway.dao.ArticleDao">
    <!--映射Article对象的resultMap（结果映射集）-->
    <resultMap id="articleMapper" type="xyz.askway.pojo.Article">
        <id property="aId" column="a_id" />
        <result property="aTitle" column="a_title" />
        <result property="aContent" column="a_content" />
        <result property="aTitleImg" column="a_title_img" />
        <result property="aTime" column="a_time" />
        <result property="aReadingQuantity" column="a_reading_quantity" />
        <result property="aCommentnum" column="a_commentnum" />
        <result property="aStatusBar" column="a_status_bar" />
        <result property="label" column="label" />
        <association property="administrator" column="u_id" select="xyz.askway.dao.AdministratorDao.getAdministratorById"/>
        <association property="programa" column="p_id" select="xyz.askway.dao.ProgramaDao.getProgramaById1"/>
    </resultMap>
    <!--分页查询-->
    <select id="selectArticle"  resultMap="articleMapper">
          select a_id,a_title,a_content,a_title_img,a_time,a_reading_quantity,a_commentnum,p_id,label,a_status_bar,u_id from  article WHERE u_id=#{criteria} OR p_id=#{criteria} OR label LIKE '%${criteria}%' OR a_content LIKE '%${criteria}%' OR a_title LIKE '%${criteria}%' order by a_time DESC LIMIT ${page},${record}
     </select>
    <!--获得文章总记录数-->
    <select id="articleStatisticsSum" resultType="java.util.HashMap">
        SELECT COUNT(*)as sum FROM article WHERE u_id=#{criteria} OR p_id=#{criteria} OR label LIKE '%${criteria}%' OR a_content LIKE '%${criteria}%' OR a_title LIKE '%${criteria}%'
    </select>
    <!--根据id查询-->
     <select id="getArticleById" parameterType="String" resultMap="articleMapper">
          select a_id,a_title,a_content,a_title_img,a_time,a_reading_quantity,a_commentnum,p_id,label,a_status_bar,u_id from  article where a_id=#{aId}
     </select>
    <!--根据栏目id查询Article-->
    <select id="getArticleByProgramaId" parameterType="Integer" resultMap="articleMapper">
          select a_id,a_title,a_content,a_title_img,a_time,a_reading_quantity,a_commentnum,p_id,label,a_status_bar,u_id from  article where p_id=#{pId}
     </select>
    <!--模糊查询（标题或者标签）-->
    <select id="getArticleLike" parameterType="String" resultMap="articleMapper">
        <bind name="text" value="'%' + _parameter + '%'"/>
        select a_id,a_title,a_content,a_title_img,a_time,a_reading_quantity,a_commentnum,p_id,label,a_status_bar,u_id
        from  article where a_title like #{text} or label like #{text} ORDER BY a_time desc
     </select>
    <!--增加-->
    <insert id="addArticle" parameterType="xyz.askway.pojo.Article" >
    insert into article(a_id,a_title,a_content,a_title_img,a_time,p_id,label,a_status_bar,u_id) values(#{aId},#{aTitle},#{aContent},#{aTitleImg},#{aTime},#{programa.pId},#{label},#{aStatusBar},#{administrator.uId})
    </insert>

    <delete id="deleteArticle" parameterType="xyz.askway.pojo.Article" >
        DELETE FROM article
        <where>1=1
            <if test="aId != null ">and a_id=#{aId} </if>
            <if test="programa != null and programa.pId != null" > and p_id=#{programa.pId} </if>
        </where>
    </delete>

    <update id="updateArticle" parameterType="xyz.askway.pojo.Article">
        UPDATE article
        <trim prefix="set" suffixOverrides=",">
            <if test="aTitle!=null">a_title=#{aTitle},</if>
            <if test="aContent!=null">a_content=#{aContent},</if>
            <if test="aTitleImg!=null">a_title_img=#{aTitleImg},</if>
            <if test="aTime!=null">a_time=#{aTime},</if>
            <if test="aReadingQuantity!=null">a_reading_quantity=#{aReadingQuantity},</if>
            <if test="aCommentnum!=null">a_commentnum=#{aCommentnum},</if>
            <if test="programa.pId!=null">p_id=#{programa.pId},</if>
            <if test="label.lId!=null">l_id=#{label.lId},</if>
            <if test="aStatusBar!=null">a_status_bar=#{aStatusBar},</if>
            <if test="administrator.uId!=null">u_id=#{administrator.uId},</if>
        </trim>
        WHERE a_id=#{aId}
    </update>
</mapper>